.parent-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

.location-container {
  border-radius: 10px;
  background: white;
  color: #193441;
  padding: 0px;
  width: 400px;
  min-height: 300px;
  margin-top: 10px;
  
  line-height: 10 px;
  font-size: 1.2em;
}